{% extends "WakaTurApp/base1.html" %}

{% load static %}

{% block title %}	WakaTur │ Contacto	{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg rounded-3 border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <div class="bg-warning rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 70px; height: 70px;">
                            <i class="fas fa-user-plus fa-2x text-white"></i>
                        </div>
                        <h3>Contáctanos</h3>
                        <p class="text-muted">Completa el formulario para registrarte</p>
                    </div>
	
						{% if request.GET.valido %}
							<div class="alert alert-success">Tu mensaje se envió correctamente.</div>
						{% elif request.GET.novalido %}
							<div class="alert alert-danger">Hubo un error al enviar el mensaje.</div>
						{% endif %}

						<form method="post" >
							{% csrf_token %}
							
							<div class="mb-3">
								<label for="id_nombre" class="form-label">Nombre</label>								
								<div class="input-group">
									<span class="input-group-text bg-white"><i class="fas fa-user"></i></span>	
									<input type="text" id="id_nombre" name="nombre" placeholder="Tu nombre" required class="form-control" style="color: black;">							
								</div>
							</div>

							<div class="mb-3">
                            	<label for="id_email" class="form-label">Correo Electrónico</label>
                            	<div class="input-group">
                            	    <span class="input-group-text bg-white"><i class="fas fa-envelope"></i></span>
                            	    <input type="email" id="id_email" name="email" placeholder="tu@correo.com" required class="form-control" style="color: black;">
                            	</div>								
							</div>
                        
							<div class="mb-3">
								<label for="id_asunto" class="form-label">Asunto</label>
								<div class="input-group">
									<span class="input-group-text bg-white"><i class="fa-solid fa-user-pen "></i></span>
									<input type="text" id="id_asunto" name="asunto" placeholder="Asunto" required class="form-control" style="color: black;">
								</div>
							</div>

							<div class="mb-3">
								<label for="id_mensaje" class="form-label">Mensaje</label>
								<div class="input-group">
									<span class="input-group-text bg-white"><i class="fas fa-id-card"></i></span>
									<textarea id="id_mensaje" name="mensaje" placeholder="Tu Mensaje" required class="form-control" rows="5" style="color: black;"></textarea>
								</div>
							</div>

							<div class="d-grid">
								<button type="submit" class="btn btn-warning py-2">
									<i class="fas fa-paper-plane me-2"></i>Enviar
								</button>
							</div>
							
						</form>
					</div>

				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 