{% extends "WakaTurApp/base1.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>📊 {{ title }}</h2>
<p>Bienvenido, {{ user.username }}.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Usuarios Totales</h5>
                <p class="card-text">{{ dashboard_data.usuarios_totales }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ventas Totales</h5>
                <p class="card-text">${{ dashboard_data.ventas_totales }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pendientes de Aprobación</h5>
                <p class="card-text">{{ dashboard_data.pendientes_aprobacion }}</p>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'logout' %}" class="btn btn-danger mt-3">Cerrar Sesión</a>
{% endblock %}