{% extends "WakaTurApp/base2.html" %}

{% load static %}
{% block title %}	WakaTur │ Nosotros	{% endblock %}
{% block content %}

	<!-- Home -->

	<div class="home">
		<div class=" static home_background parallax-window" data-parallax="scroll" data-image-src= "{% static 'images/nosotros/nosotros_background.jpg' %}"></div>
		<div class="home_content">
			<div class="home_title">Sobre Nosotros</div>
		</div>
	</div>
	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="intro_image"><img src="{% static 'images/nosotros/intro.png' %}" alt=""></div>
				</div>
				<div class="col-lg-5">
					<div class="intro_content">
						<div class="intro_title">Somos un grupo de Ingenieros que que prentende impulsar el turísmo en San Agustín</div>
						<p class="intro_text">La idea de WakaTur nace en 2020 cuando se quería impulsar un proyecto de turismo local, incluyendo a todos los gremios
							 de turismo, para resolver el inconveniente de desuvicación y de manera guiada que el viajero tenga una herramienta que le facilite la esperiencia en su viaje.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %} 